<aside class="sidebar">

    <!-- DANH MỤC -->
    <h3 class="fw-bold">Danh mục</h3>
    @Html.Action("_DanhMucTL", "DanhMuc")

    <!-- NHÀ CUNG CẤP -->
    <h3 class="fw-bold mt-4">Nhà cung cấp</h3>
    @Html.Action("_DanhMucNCC", "DanhMuc")

    <!-- TÌM KIẾM -->
    <h3 class="fw-bold">Tìm kiếm</h3>
    @Html.Action("_TimKiemNC", "DanhMuc")
   
</aside>
